{% extends "donate/main.html" %}
{% load static %}

{% block body%}
{% include "donate/components/navbar.html" %}
<script type="text/javascript" src="{% static '/donate/scripts.js' %}"></script>
<div class="backcover">
  <div class="container title fs-4">Donars List</div>
<div class="container">
    <table class="table table-light table-md  table-hover">
        <thead class="">
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Blood Group</th>
            <th scope="col">Tested Negative On</th>
            <th scope="col">City</th>
            <th scope="col">Request</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data  %}
          <tr>
            
            <td>{{i.name}}</td>
            <td><div><a href="#">{{i.email}}</a></div></td>
            <td>{{i.age}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.blood_group}}</td>
            <td>{{i.negative_tested_on}}</td>
            <td>{{i.city}}</td> 
            <td >
              <form method="POST" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <input type="submit" name="request" class="offButton" value="Request" >
              </form>
            </td>
            {% endfor %}
            </tr>
          </tbody>
      </table>
      <br>   
</div>
</div>
{% endblock %}