<div class="container-fluid ">
  <div class="stats" >
    <div class="card my-1 mx-2 shadow-sm stats-box  " style="width: 11rem">
      <div class="card-body">
        <h5 class="card-title active ">Active</h5>
        <p class="card-text" id="box-1">1</p>
      </div>
    </div>

    <div class="card my-1 mx-2 shadow-sm stats-box " style="width: 11rem">
      <div class="card-body">
        <h5 class="card-title recovered ">Recovered</h5>
        <p class="card-text" id="box-2">2</p>
      </div>
    </div>

    <div class="card my-1 mx-2 shadow-sm stats-box " style="width: 11rem">
      <div class="card-body">
        <h5 class="card-title death ">Death</h5>
        <p class="card-text" id="box-3">3</p>
      </div>
    </div>

    <div class="card my-1 mx-2 shadow-sm stats-box " style="width: 11rem">
      <div class="card-body">
        <h5 class="card-title total">Total</h5>
        <p class="card-text" id="box-4">4</p>
      </div>
    </div>
  </div>
</div>
